*, *::before, *::after{
    box-sizing: inherit;
} 

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header{
    background: #1F2937;
    min-height: 30rem;
}
 
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;
    margin-top: 1rem;
}

.header--logo {
    max-width: 7vw;
    max-height: 3.5vw;

}

.header--nav-links{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    font-weight: bold;
    font-size: 1vw;
}

a{
    text-decoration: none;
}

.hero--secondary{
    font-size: 1vw;
    color: #E5E7EB;
}

.hero--main{
    font-size: 2.5vw;
    font-weight: 800;
    color: #F9FAF8;
}

.hero{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    gap: 30%;
}

.hero--message{
    color: #F9FAF8;
    max-width: 40%;
    height: auto;
}

.hero--message h2, p{
    padding: 0;
    margin: 0 0 1rem;
}

.hero--img__resize{
    max-width: 100%;
    max-height: auto;
}

.btn {
    background-color: #3882F6;
    padding: 1vw 1.5vw;
    border-radius: .5vw;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    font-size: .75vw;
    height: auto;
}

/* 
.button {
    color: #3882F6;
}

.information-header {
    font-size: 2.25em;
    font-weight: 800;
    color: #1F2937;
}

.quote-background {
    color: #E5E7EB;
}

.quote-text {
    font-size: 2.25em;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
} */